{% extends 'cafe/base.html' %}

{% block main_content %}
    <div class="container">
        <div class="registration_row">
            <div class="registration_card">
            <div class="form_container">
                <form id="form" method="post">
                {% csrf_token %}
                    {% for item in user_form %}
                    <div class="form_wrap">
                        <div class="form_item">
                            <label>{{ item.label }}</label>
                            <input id="{{ item.label }}" name="{{ item.label }}" type="text">
                            <div class="error"></div>
                        </div>
                    </div>
                    {% endfor %}
{#                    {{ user_form.as_p }}#}
                    <button class="btn_registration" type="submit">submit</button>
                </form>
            </div>
            </div>
        </div>
    </div>


{% endblock %}