:root {
  --color-background-btn: #00AC4E;
  --color-cl-btn: #FFFFFF;
  --color-detail-asp: #C6C6C6;
}

* {box-sizing: border-box}

a, a:visited  {
    color: inherit;
    text-decoration: none;
}

img, svg {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.btn {
  font-style: normal;
  font-weight: 500;
  color: var(--color-cl-btn);
  background-color: var(--color-background-btn);
  border-radius: 5px;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid red;
  color: blue;
}

.btn:active {
  border: 1px solid yellow;
  color: grey;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  max-width: 994px;
  margin: 0 auto;
}

/* HEADER */
header{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header_row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0 15px 0; /*34-34*/
  }

.h_first_logo{
  width: 87px;
  flex-basis: 87px;
  height: 31px;
  margin-right: 9px;
  flex-shrink: 0;
}
.h_second_logo{
  width: 16px;
  flex-basis: 16px;
  height: 31px;
  flex-shrink: 0;
  /*margin-right: 50px;*/
}
.h_img{

  height: 100%;
  width: 100%;
}
.h_gap_1 {
    width: 50px;
  height: 10px;
  visibility: hidden;
  flex-shrink: 100;

}
.h_menu{}

.h_menu_list{
  display: flex;
  align-items: center;
  list-style: none;
}
.h_menu_list > li{
  /*margin-right: 25px;*/
  padding: 0 12px;
  text-decoration: none;
  flex-shrink: 0;
}
.h_menu_list > li:last-child{
  margin-right: 30px;
}

.dropbtn {
  padding: 16px;
  box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  border-style: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left:-15px;
  display: none;
  position: absolute;
  min-width: 158px;
  z-index: 1;
  font-size: 12px;
  line-height: 13px;
  background: var(--color-cl-btn);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.dropdown-content a {
  color: black;
  padding: 8px 0 8px 20px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-img{
  vertical-align: middle;
  margin-right: 8px;
}

.h_icons {
  min-width: 130px;
  display: flex;
  flex-shrink: 0;
}

.h_phone{
  /*display: inline-block;*/
  /*margin-right:35px;*/
  padding: 0 15px;
  flex-shrink: 0;
  vertical-align: middle;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

}
.h_phone::before{
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  /*background-image: url('./img/phone.svg');*/
}
.h_login{
  margin-right: 50px;
  height:31px;
  width: 31px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

}
.h_img{
  float: right;
}

.h_basket{
  height:31px;
  width: 31px;
  position: relative;
}

.cart_indicator{
  position: absolute;
  color: green;
  left: 30px;
}

.promo{}

.container-promo{
  /*border-radius: 18px;*/
}

.promo-row{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.03);
  border-radius: 18px;
  margin-top: 15px; /*was 60*/
  }

.promo-text{
  padding-left: 40px;
}

.promo-text-title{
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.promo-text-content{
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
}

.promo-text-btn{
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-cl-btn);
  padding: 10px 30px;
  max-width: 217px;
  height: 53px;
  background: var(--color-background-btn);
  border-radius: 5px;
  border: 1px solid transparent;
}

.slider__items{
  display: flex;
  margin-top: 17px;
}

.slider__items div+div{
  display: flex;
  margin-left: 95px;
}

.slider__item{
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  padding: 8px 16px;
  border-radius: 5px;
}

.slider__item:hover{
  background: var(--color-background-btn);
  color: var(--color-cl-btn);
}
.main {
  flex-grow: 1;
}

.main-title{
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 19px;
  margin-top: 22px;
  margin-bottom: 40px;
  flex-grow: 1;
}

.main-cards-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
  /*gap: 57px;*/
}

.card{
  max-width: 200px;
  padding: 10px 0;
  height: 410px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-photo-img{
  width: 100%;
}
.card-photo-img:hover{
  transform: scale(1.2);
  transition: 0.2s;
}

.card-title{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  height: 45px;
}
.card-descriptions{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  margin-top: 5px;
  padding: 5px 5px;
  height: 80px;
  overflow: hidden;

}
.card-rating{
  margin: 8px auto;
}
.card-price{
  margin-top: 10px;
  display: flex;
}

.card-price-main{
  height: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 0 auto;

}

.card-price-weight{
  height: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #828282;
  margin: 0 auto;
}

.card-btn{
  max-width: 140px;
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  color: var(--color-cl-btn);
  background: var(--color-background-btn);
  /*border-radius: 5px;*/
  border-radius: 30px 0 30px 0;
  padding: 10px 40px;
  margin: 5px auto;
  border: 1px solid transparent;
}

.card-btn:hover {
  border: 1px solid red;
  color: blue;
}

.card-btn:active {
  border: 1px solid yellow;
  color: grey;
}

.page-row{
  display: flex;
  max-width: 241px;
  margin: 0 auto;
}

.pages{
  display: flex;
}

.page-row div+div{
  margin-left: 21px;
}

.page{
  text-align: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  padding: 8px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.delivery{
  margin: 20px 0;
}

.deliver-row{
  display: flex;
  padding-left: 43px;
  justify-content: space-between;
}

.delivery-context{
  margin-right: 40px;
}

.delivery-context-text{
  max-width: 477px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}

.delivery-btn{
  margin-top: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-cl-btn);
  padding: 9px 23px;
  background-color: var(--color-background-btn);
  border-radius: 5px;
  border: 1px solid transparent;

}

.delivery-picture{
  max-width: 434px;
}

.delivery-picture img{
  height: 100%;
  width: 100%;
}

.footer{
  background-color: var(--color-background-btn);
  padding: 10px 0;
  color: var(--color-cl-btn);
  flex-shrink: 0;
}

.footer-top{
  padding-left: 10px;
}
.footer-top-contact{}

.ftc-phones{
  display: grid;
  grid-template-columns: 168px 168px;
  grid-column-gap: 60px;
}

.text1{
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}

.phone1{
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
}

.ftc-working{
  margin-top: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.ftc-email{
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
}
.footer-top-social{}
.footer-bottom{
  padding-left: 10px;
}

.support{
  margin-top: 10px;
}
.support-title{
  margin-bottom: 10px;
  padding-bottom: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.support-items{
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}

.support-items div+div{
  margin-left: 36px;
}

.support-items-copyright{}
.support-items-terms{}
.support-items-policy{}

/*КОРЗИНА*/
.title_cart {
  font-weight: 500;
  font-size: 28px;
  line-height: 50px;
  margin-left: 33px;
  color: #333333;
}
.basket {
  max-width: 609px;
  }
.right{
  margin-left: 60px;
}

.body_cart{
  display: flex;
}

.cart {
  max-width: 800px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cart-group-one, .cart-group-two {
  display: flex;
}

.cart_cancel{
  margin-right: 10px;
  width: 40px;

}
.cart_cancel_img{
  width: 35px;
}
.cart_picture{
  margin-right: 15px;
  width: 70px;
  overflow: hidden;
}
.cart_item{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 200px;
  margin-right: 8px;
}
.cart_item_cost{
  display: flex;
  align-items: center;
  width: 55px;
}
.cart_quantity{
  display: flex;
  height: 47px;
  max-width: 120px;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.card_quantity_arrow{
  width: 40px;
  cursor: pointer;
  text-align: center;
}
.card_quantity_data{
  width: 40px;
  text-align: center;
}

.card_quantity_arrow:hover {
	background: #eb5a1e;
	color: #FFF;
}

.cart_price{
  float: right;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  width: 80px;
  display: flex;
  align-items: center;
}

.right{
  margin-left: 30px;
}
.oder{
  margin-bottom: 45px;
}
.order_number{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 0 10px 30px 20px;
}
.order_card{
  max-width: 345px;
  margin-left: 20px;
  margin-right: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.order_quantity{
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
}
.order_quantity_title{
  flex-grow: 1;
}
.order_quantity_figure{}

.order_promo{
  display: flex;
  margin-bottom:35px;
  justify-content: space-between;
}
.order_promo_title{}
.order_promo_figure{}
.order_total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.order_total_title{}
.order_total_figure{}

.order_btn{
  padding: 16px 21px;
  margin-top: 30px;
  margin-bottom: 41px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
.coupon{}
.coupon_title{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 25px;
}
.coupon_data{
  display: flex;
}

.coupon_data_input{
  width: 187px;
  height: 47px;
  background-color: #FCFCFC;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  margin-right: 18px;
}
.coupon_data_confirm_btn{
  width: 140px;
  height: 47px;
  font-size: 14px;
  text-align: center;
  padding: 13px 27px;
}

.main-row_delivery{
  display: flex;
}

.detail_main{
  margin-right: 36px;
}

.detail_main__picture{
  width: 645px;
  margin-bottom: 60px;
}

 /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
/*.tab button:hover {*/
/*    color: var(--color-background-btn);*/
/*}*/

/* Create an active/current tablink class */
.tab button.active {
    color: var(--color-background-btn);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.detail_main__information_heading{
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
}

.detail_side{
  width: 311px;
}

.detail_oder{
  height: 426px;
}

.detail_card{
  margin-left: 30px;
  margin-right: 30px;
}

.detail_name{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.detail_rating{
  margin-bottom: 13px;
}

.detail_review{
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-detail-asp);
}

.detail_price{
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_price__1{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-detail-asp);
}
.detail_price__2{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.detail_quantity{
  display: flex;
  margin-bottom: 35px;
}
.detail_quantity__1{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-detail-asp);
}

.detail_total{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: center;
}

.detail_total__2{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-background-btn);
}

.detail_order_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-cl-btn);
  background-color: var(--color-background-btn);
  border-radius: 5px;
  padding: 7px 67px 7px 67px;
}

.registration_row{
  width: 400px;

  margin: 30px auto;

}

/* design the form */
.form_container {
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

.form_container .form_item {
    margin-bottom: 25px;
}

.form_container .form_wrap.form_grp {
    display: flex;
}

.form_container .form_wrap.form_grp .form_item {
    width: 50%;
}

.form_container .form_wrap.form_grp .form_item:first-child {
    margin-right: 4%;
}

.form_container .form_item label {
    display: block;
    margin-bottom: 5px;
}

/* input box and select box */
.form_container .form_item input, .form_container .form_item select {
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
}

/* submit button */
.form_container .btn input[type="submit"] {
    background: #6271f0;
    cursor: pointer;
    color: #fff;
    border: 1px solid #6271f0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

.btn_registration{
  display: block;
  padding: 14px 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--color-cl-btn);
  background-color: var(--color-background-btn);
  border-radius: 6px;
}

.row_login{
  max-width: 358px;
  margin: 10px auto;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
  border-radius: 17px;
  border: 1px solid var(--color-detail-asp);;
  padding: 30px 0;
}

.login_picture{
  /*margin-top: 30px;*/
}

.login_picture_inner{
  width: 34px;
  height: 34px;
}

.login_title{
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  margin-top: 14px;
}

.login_username{
  margin: 25px auto;
  width: 269px;
  height: 50px;
  border: 1px solid var(--color-detail-asp);
}

.login_username > input {
  width: 100%;
  padding-left: 10px;
}

.login_username_inner{
  width: 100%;
  padding-left: 10px;
}

.login_password{
  margin: 25px auto;
  width: 269px;
  height: 50px;
  border: 1px solid var(--color-detail-asp);
}
.login_password > input {
  width: 100%;
  padding: 10px;
}

.login_password_inner{
  width: 100%;
  padding-left: 10px;
}

input:focus {
  border: 2px solid var(--color-background-btn);
}


.login_forgot{
  color: var(--color-background-btn);
  margin-top: 15px;
}

.login_forgot_inner{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: var(--color-background-btn);
  text-align: center;
}

.login_btn{
  justify-content: center;
  display: flex;
  margin-top: 12px;
  margin-bottom: 30px;
}

.login_btn_inner{
  display: block;
  padding: 14px 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--color-cl-btn);
  background-color: var(--color-background-btn);
  border-radius: 6px;
}

.login_register{
  margin-top: 25px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.login_register_inner{
  color: var(--color-background-btn);
  cursor: pointer;
  text-decoration-line: underline;
}

.login_align {
  display: flex;
  justify-content: center;
}

.history_row{
  max-width: 900px;
  margin: 0 auto;
}

.history_info {
  display: flex;
  margin-bottom: 40px;
}

.history_items{
  margin: auto 0 ;
  padding-left: 100px;
}

.history_order_card{
  padding-left: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 0;
  width: 300px;
}

.order_cart_number{
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: var(--color-background-btn);
}

.order_card_date{
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
}

.history_items{
}

.history_items_wrapper{
  display: flex;
  align-items: center;
}

.history_data_wrapper{
  margin-bottom: 10px;
  display: flex;
}

.history_product_name{
  max-width: 150px;
}
.history_repeat{
  float: right;
  font-size: 16px;
  line-height: 29px;
  color: var(--color-background-btn);
}

/* checkout */
.checkout-row{
  /*display: flex;*/
  max-width: 500px;
  margin: 0 auto;
}
.payment {
  display: none;
  max-width: 600px;
}

.checkout-total-value {
  font-weight: bold;
}

@media (max-width: 994px) {
  .body_cart {
    display: block;
  }
}

@media (max-width: 875px) {
  .h_first_logo {
    display: none;
  }
  .delivery-context-text {
    font-size: 25px;
  }
  .promo-text-title{
   max-width: 300px;
  }
}

@media (max-width:820px)   {
  .promo-text-btn{
    margin-top: 15px;
  }
  .promo-text-title{
    margin-top: 15px;
    font-size: 20px;
    max-width: 300px;
  }
}

@media (max-width:780px)   {
  .h_phone {
    display: none;
  }
}

@media (max-width:680px)   {
  .cart {
    display: block;
  }
  .cart-group-one, .cart-group-two{
    justify-content: center;
  }
}

@media (max-width:646px)   {
  .promo-img {
    display: none;
  }
  .disappear {
    display: none;
  }
  .deliver-row{
    display: block;
  }
}

