{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'cafe/css/main.css' %}">
    {% block jstop %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<header>
    <div class="container">
        <div class="header_row">
            <div class="h_first_logo">
                <a href="{% url 'cafe:main_page' %}"><img class="h_img"
                                                          src="{% static 'cafe/images/details/h_first_logo1.jpg' %}"
                                                          alt="cafe"></a>
            </div>
            <div class="h_second_logo">
                <a href="{% url 'cafe:main_page' %}"><img class="h_img"
                                                          src="{% static 'cafe/images/details/h_second_logo1.jpg' %}"
                                                          alt="cafe"></a>
            </div>
            <div class="h_gap_1"></div>
            <nav class="h_menu">
                <ul class="h_menu_list">
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Menu</button>
                            <div class="dropdown-content">

                                {% for item in main_menu %}
                                    <a href="{% url 'cafe:main_page' group=item.id %}"><img class="dropdown-img"
                                                                                            src="{{ item.picture.url }}"
                                                                                            alt="pic">{{ item }}</a>
                                {% endfor %}

                            </div>
                        </div>
                    </li>
                    <li class="disappear"><a href="{% url 'cafe:delivery_terms' %}">Project Details</a></li>
                    <li class="disappear"><a href="{% url 'cafe:location' %}">Location</a></li>
                    <li class="disappear"><a href="#">Booking</a></li>
                </ul>
            </nav>

            <div class="h_phone">
                <a href="tel:5551234567"><img src="{% static 'cafe/images/details/phone.svg' %}" alt="Call 5551234567" />+88 888 888-88-88</a>
{#                <img src="{% static 'cafe/images/details/phone.svg' %}" alt="phone"> +88 888 888-88-88#}

            </div>
            <div class="h_icons">
                <div class="h_login">
                    {% if user.is_authenticated %}
                        <div class="h_login_inner">
                            <a href="{% url 'account:user_dashboard' %}">account</a>
                        </div>
                    {% else %}
                        <a href="{% url 'account:login' %}">
                            <img class="h_img start-btn" src="{% static 'cafe/images/details/person.svg' %}" alt="person">
                        </a>
                    {% endif %}
                </div>

            <div class="h_basket">
                <a href="{% url 'cafe:cart' %}">
                    <img class="h_img" src="{% static 'cafe/images/details/shopping-cart.svg' %}" alt="cart"/>
                    <span id="cart_indicator" class="cart_indicator">{% if order_quantity > 0 %}
                        {{ order_quantity }} {% endif %}</span>
                    <div class="order_total_figure">{% if order_value > 0 %} {{ order_value }} {% endif %} </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</header>

<section class="promo">
    {% block promo %}
    {% endblock %}
</section>

<section class="menu">
    {% block menu %}
    {% endblock %}

</section>

<section class="main">
    {% block main_content %}
    {% endblock %}
</section>

{#<section class="paginator">#}
{#    {% block paginator %}#}
{#    {% endblock %}#}
{#</section>#}

<section class="video">
    {% block video %}
    {% endblock %}
</section>

<section class="delivery">
    {% block delivery %}
    {% endblock %}
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-contact">
                <div class="ftc-phones">
                    <div class="text1">call us</div>
                    <div class="text1">for orders:</div>
                    <div class="phone1">+44 282-60-00</div>
                    <div class="phone1">+44 066-46-85</div>
                </div>
                <div class="ftc-working">Working hours: 9:00 a.m till 18:00 p.m.</div>
                <div class="ftc-email">Email: whoknows@.whoknows.com</div>
            </div>
            <div class="footer-top-social"></div>
        </div>
        <div class="footer-bottom">
            <div class="support">
{#                <div class="support-title">Support</div>#}
                <div class="support-items">
                    <div class="support-items-copyright">©2020. Unknown</div>
                    <div class="support-items-terms">Terms and agreements</div>
                    <div class="support-items-policy">Privacy policy</div>
                </div>
            </div>
        </div>
    </div>
</footer>


{% block jscode %}
{% endblock %}

</body>
</html>
