{% extends 'cafe/base.html' %}
{% load static %}
{% load get_product_value %}

{% block title %}
    Корзина
{% endblock %}

{% block jstop %}
    <script>
        let user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="body_cart">
            <div class="left">
                <div class="title_cart">
                    Cart
                </div>
                {% if request.user.is_authenticated %}
                    {% if cart_content %}
                        {% for item in cart_content %}
                            <div class="cart idd{{ item.product_id }}">
                                <div class="cart-group-one">
                                    <div data-cart_cancel="{{ item.product.id }}" class="cart_cancel">
                                        <img class="cart_cancel_img"
                                             src="{% static 'cafe/images/details/cart_cancel.svg' %}" alt="cart_cancel">
                                    </div>
                                    <div class="cart_picture">
                                        <img src="{{ item.product.picture.url }}" alt="product_picture">
                                    </div>
                                    <div class="cart_item">{{ item.product }}</div>
                                </div>
                                <div class="cart-group-two">
                                    <div class="cart_item_cost">
                                        {{ item.product.price }}x
                                    </div>
                                    <div class="cart_quantity">
                                        <div data-product="{{ item.product.id }}" data-action="remove"
                                             class="card_quantity_arrow update-cart">-
                                        </div>
                                        <div data-counter class="card_quantity_data">{{ item.quantity }}</div>
                                        <div data-product="{{ item.product.id }}" data-action="add"
                                             class="card_quantity_arrow update-cart">+
                                        </div>
                                    </div>
                                    <div data-item_total class="cart_price">{{ item.get_items_cost }} грн</div>
                                </div>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div>Your cart is empty</div>
                    {% endif %}

                {% else %}
                    {% if cart_content %}
                        {% for item in cart_content %}
                            <div class="cart idd{{ item.id }}">
                                <div class="cart-group-one">
                                    <div data-cart_cancel="{{ item.id }}" class="cart_cancel">
                                        <img class="cart_cancel_img" alt="cart_cancel"
                                             src="{% static 'cafe/images/details/cart_cancel.svg' %}">
                                    </div>
                                    <div class="cart_picture">
                                        <img src="{{ item.picture.url }}" alt="item picture">
                                    </div>
                                    <div class="cart_item">{{ item.name }}</div>
                                </div>
                                <div class="cart-group-two">
                                    <div class="cart_item_cost">
                                        {{ item.price }}x
                                    </div>
                                    <div class="cart_quantity">
                                        <div data-product="{{ item.id }}" data-action="remove"
                                             class="card_quantity_arrow update-cart">-
                                        </div>
                                        <div data-counter class="card_quantity_data">{{ item.quantity }}</div>
                                        <div data-product="{{ item.id }}" data-action="add"
                                             class="card_quantity_arrow update-cart">+
                                        </div>
                                    </div>
                                    <div data-item_total class="cart_price">{{ item.quantity|mult:item.price }}грн</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div>Your cart is empty</div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="delivery">
                {% if cart_content %}
                    <div class="right">
                        <div class="oder">
                            <div class="order_number">
                                Order # {{ order.transaction_id }}
                            </div>
                            <div class="order_card">
                                <div class="order_quantity">
                                    <div class="order_quantity_title">Value of the goods</div>
                                    <div data-grand_total class="order_quantity_figure">
                                        {% if request.user.is_authenticated %}
                                            {{ order.get_order_cost }}
                                            {{ total_value }}
                                        {% else %}
                                            {{ total_value }}
                                        {% endif %}
                                        uah
                                    </div>
                                </div>
                                <div class="order_promo">
                                    <div class="order_promo_title">Promo code</div>
                                    <div class="order_promo_figure"> 0 uah</div>
                                </div>

                                <div class="order_total">
                                    <div class="order_total_title">Total</div>
                                    <div class="order_total_figure">{{ order.get_order_cost }} uah</div>
                                </div>
                                <div class="coupon_data">
                                    <input class="coupon_data_input" placeholder="  Enter Promo Code here"/>
                                    <button class="coupon_data_confirm_btn btn">Apply</button>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <button id="place_order_btn" class="order_btn btn">Checkout</button>
                                    <script>
                                        console.log('click auth')
                                        document.getElementById("place_order_btn").addEventListener("click", function () {
                                            window.location.href = "{% url 'cafe:checkout' %}";
                                        });
                                    </script>
                                {% else %}
                                    <button id="login_place_order_btn" class="order_btn btn">Login to proceed</button>
                                    <script>
                                     console.log('click NOT auth')
                                        document.getElementById("login_place_order_btn").addEventListener("click", function () {
                                            window.location.href = "{% url 'account:login' %}";
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}

{% block jscode %}
    <script src="{% static 'cafe/js/main.js' %}"></script>
{% endblock %}
