{% extends 'cafe/base.html' %}
{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block jstop %}
    <script>
        let user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');
    </script>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="body_cart">
            <div class="left">
                <div class="title_cart">
                    Корзина
                </div>

                {#                            {% if request.user.is_authenticated %}#}
                {% if cart_content %}
                    {% for item in cart_content %}
                        <div class="cart idd{{ item.product_id }}">
                            <div data-cart_cancel="{{ item.product.id }}" class="cart_cancel">
                                <img class="cart_cancel_img"
                                     src="{% static 'cafe/images/details/cart_cancel.svg' %}" alt="cart_cancel">
                            </div>
                            <div class="cart_picture">
                                <img src="{{ item.product.picture.url }}" alt="product_picture">
                            </div>
                            <div class="cart_item">{{ item.product }}</div>
                            <div class="cart_item_cost">
                                {{ item.product.price }}x
                            </div>
                            <div class="cart_quantity">
                                <div data-product="{{ item.product.id }}" data-action="remove"
                                     class="card_quantity_arrow update-cart">-
                                </div>
                                <div data-counter class="card_quantity_data">{{ item.quantity }}</div>
                                <div data-product="{{ item.product.id }}" data-action="add"
                                     class="card_quantity_arrow update-cart">+
                                </div>
                            </div>
                            <div data-item_total class="cart_price">{{ item.get_items_cost }} грн</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>Ваша корзина пуста</div>
                {% endif %}


                {##}
                {#                {% else %}#}
                {##}
                {##}
                {#                    {% if cart_content %}#}
                {#                        {% for item in product %}#}
                {#                            <div class="cart idd{{ item.id }}">#}
                {#                                <div data-cart_cancel="{{ item.id }}" class="cart_cancel">#}
                {#                                    <img class="cart_cancel_img"#}
                {#                                         src="{% static 'cafe/images/details/cart_cancel.svg' %}">#}
                {#                                </div>#}
                {#                                <div class="cart_picture">#}
                {#                                    <img src="{{ item.picture.url }}">#}
                {#                                </div>#}
                {#                                <div class="cart_item">{{ item.name }}</div>#}
                {#                                <div class="cart_item_cost">#}
                {#                                    {{ item.price }}x#}
                {#                                </div>#}
                {#                                <div class="cart_quantity">#}
                {#                                    <div data-product="{{ item.id }}" data-action="remove"#}
                {#                                         class="card_quantity_arrow update-cart">-#}
                {#                                    </div>#}
                {#                                    <div data-counter class="card_quantity_data">{{ item.quantity }}</div>#}
                {#                                    <div data-product="{{ item.id }}" data-action="add"#}
                {#                                         class="card_quantity_arrow update-cart">+#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                                <div data-item_total class="cart_price">{{ item.total }} грн</div>#}
                {#                            </div>#}
                {#                        {% endfor %}#}
                {#                    {% else %}#}
                {#                        <div>Ваша корзина пуста</div>#}
                {#                    {% endif %}#}
                {##}
                {##}
                {#                {% endif %}#}
                {##}
                {##}
                {##}
                <div class="delivery"></div>
            </div>
            {% if cart_content %}
                <div class="right">
                    <div class="oder">
                        <div class="order_number">
                            Заказ № {{ order.transaction_id }}
                        </div>
                        <div class="order_card">
                            <div class="order_quantity">
                                <div class="order_quantity_title">Товаров в корзине</div>
                                <div data-grand_total class="order_quantity_figure">
                                    {% if reques.user.is_authenticated %}
                                        {{ order.get_order_cost }}
                                    {% else %}
                                        {{ total_value }}
                                    {% endif %}
                                    грн
                                </div>
                            </div>
                            <div class="order_promo">
                                <div class="order_promo_title">Промокод</div>
                                <div class="order_promo_figure"> 0 грн</div>
                            </div>

                            <div class="order_total">
                                <div class="order_total_title">Итого к оплате</div>
                                <div class="order_total_figure">{{ order.get_order_cost }} грн</div>
                            </div>
                            <button id="place_order_btn" class="order_btn"
                                    {% if request.user.is_authenticated %}{% else %}disabled{% endif %}
                            >
                                {% if request.user.is_authenticated %}Оформить заказ {% else %} You need to
                                    login {% endif %}</button>
                        </div>
                    </div>
                    <div class="coupon">
                        <div class="coupon_title"></div>
                        <br>
                        <div class="coupon_data">
                            <input class="coupon_data_input" placeholder="Промокод"/>
                            <button class="coupon_data_confirm">Подтвердить</button>
                        </div>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
    {#    <script>#}
    {#        document.getElementById("place_order_btn").addEventListener("click", function () {#}
    {#            window.location.href = "{% url 'cafe:order_checkout' %}";#}
    {#        });#}
    {#    </script>#}

    {#    <script>#}
    {#        console.log('in action', {{ pcs_ordered }})#}
    {#        const cart_indicator = document.getElementsByClassName('cart_indicator')[0]#}
    {#        cart_indicator.innerText =#}
    {#        {{ pcs_ordered }}#}
    {#updateCartPicture({{ pcs_ordered }})#}
    {#    </script>#}
{% endblock %}

{% block jscode %}

    <script src="{% static 'cafe/js/main.js' %}"></script>
{% endblock %}
