{% load static %}

  <div class="container">
    <div class="deliver-row">
      <div class="divery-context">
        <div class="delivery-context-text">
          <p>Free delivery within unknown city area if order exceeds 1000 uah</p>
        </div>
        <button class="delivery-btn">
          Enroll
        </button>
      </div>
      <div class="delivery-picture">
        <img src="{% static 'cafe/images/details/nissan-nv-cargo-s-cargo-van-side-view 1.jpg' %}">
      </div>
    </div>
  </div>
