{% extends 'cafe/base.html' %}
{% load static %}

{% block main_content %}

    <div class="container" style="margin-right: 50px">
        <ol>
            <li>custom users - admin, shop admin, and customer</li>
            <li>cart is stored in database for registered users and in cookies for anonymous</li>
            <li>cart history view, order repeat based previous order</li>
            <li>open pdf invoice of any previous purchase</li>
            <li>pdf invoice generation via weasyprint</li>
            <li>payment integration with sandbox braintree</li>
            <li>user location based ip address, determine the closest cafe to user</li>
            <li>postgres bd</li>
            <li>celery - redis</li>
            <li>setting: development, production, base</li>
            <li>html, css - made based figma design</li>
        </ol>
    </div>

{% endblock %}
