{% extends 'cafe/base.html' %}
{% load static %}

{% block main_content %}

    <div class="container" style="margin-right: 50px">
        <ol>
            <li>custom users - admin, shop admin, and customer</li>
            <li>cart is stored in database for registered users and in cookies for anonimous</li>
            <li>pdf invoice generation via weasyprint</li>
            <li>payment integration with sandbox braintree</li>
            <li>postgres bd</li>
            <li>celery - redis</li>
            <li>setting: development, production, base</li>
        </ol>
    </div>

{% endblock %}
