{% extends 'cafe/base.html' %}
{% load static %}

{% block title %}
    Cafe
{% endblock %}

{% block jstop %}
    <script>
        let user = '{{ request.user }}'
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
{% endblock %}

{% block promo %}
    {% include 'cafe/promo.html' %}
{% endblock %}

{#{% block menu %}#}
{#    {% include 'cafe/menu.html' %}#}
{#{% endblock %}#}

{% block main_content %}
    <div class="container">
        <div class="main-row">
            <div class="main-title" style="display: none">
                Все товары категории
            </div>
            <div class="main-cards">
                <div class="main-cards-row">
                    {% for item in offer %}
                        <div class="card">
                            <img class="card-photo-img" src="{{ item.picture.url }}" alt="card pic">

                            <a href="{% url 'cafe:product_detail' item.slug %}">
                                <div class="card-title">
                                    {{ item.name }}
                                </div>
                                <div class="card-descriptions">
                                    {{ item.description }}
                                </div>
                            </a>
                            <div class="card-rating">
                                <img src="{% static 'cafe/images/details/star.svg' %}" alt="star">
                                <img src="{% static 'cafe/images/details/star.svg' %}" alt="star">
                                <img src="{% static 'cafe/images/details/star.svg' %}" alt="star">
                                <img src="{% static 'cafe/images/details/star.svg' %}" alt="star">
                                <img src="{% static 'cafe/images/details/star.svg' %}" alt="star">
                            </div>
                            <div class="card-price-main">{{ item.price }} uah</div>
                            <div class="card-price-weight">За {{ item.weight }}gr.</div>
                            <button data-product="{{ item.id }}" data-action="add" class="card-btn update-cart">
                                To cart
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block paginator %}
    {% include 'cafe/paginator.html' %}
{% endblock %}

{% block video %}
    {% include 'cafe/video.html' %}
{% endblock %}

{% block delivery %}
    {% include 'cafe/delivery.html' %}
{% endblock %}

{% block jscode %}
            <script src="{% static 'cafe/js/index.js' %}"></script>
{% endblock %}

