{% extends 'cafe/base.html' %}
{% load static %}

{% block title %}
    Details
{% endblock %}

{% block promo %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="main-row_delivery">
            <div class="detail_main">
                <div class="detail_main__picture">
                    <img src="{{ product.picture.url }}">
                </div>
                <div class="detail_main__information">


                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">О товаре</button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')">Параметры</button>
                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Отзывы</button>
                    </div>
                    <!-- Tab content -->
                    <div id="London" class="tabcontent">
                        <h3 class="detail_main__information_heading">Описание</h3>
                        <br>
                        <p>Полутвердый пластичный однородный сыр, слегка ломкий на изгибе. Пажитник придает легкое ореховое послевкусие.
                            В Италии считается столовым сыром, который подходит к любому времени суток и к любому блюду и к вину</p>
                        <p>Вес головки 500 г. +/-10%. Цена за 1 кг.</p>
                        <p>Продукция компании Alpenville изготовлена преимущественно из Шарангского молока</p>
                    </div>
                    <div id="Paris" class="tabcontent">
                        <h3 class="detail_main__information_heading">Параметры</h3>
                        <div>
                            <br>
                            <p>Калории: 420</p>
                            <p>Жиры: 54</p>
                            <p>Белки: 27</p>
                            <p>КУглеводы: 18</p>
                            <p>Масса: 500 грамм</p>
                        </div>
                    </div>
                    <div id="Tokyo" class="tabcontent">
                        <h3 class="detail_main__information_heading">Отзывы</h3>
                        <br>
                        <p>тут должны быть отзывы о товаре</p>
                    </div>
                </div>

            </div>
            <div class="detail_side">
                <div class="detail_oder">
                    <div class="detail_card">
                        <div class="detail_name">
                            {{ product.name }}
                        </div>
                        <div class="detail_rating">
                            rating
                        </div>
                        <div class="detail_review">
                            review
                        </div>
                        <div class="detail_price">
                            <div class="detail_price__1">Цена</div>
                            <div class="detail_price__2">{{ product.price }} грн</div>
                        </div>
                        <div class="detail_quantity">
                            <div class="detail_quantity__1">Количество</div>
                            <div class="detail_quantity__2"></div>
                        </div>
                        <div class="detail_total">
                            <div class="detail_total__1">Итого к оплате</div>
                            <div class="detail_total__2">100 грн</div>
                        </div>
                        <button class="detail_order_btn">КУПИТЬ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block paginator %}
{% endblock %}

{% block video %}
{% endblock %}

{% block delivery %}
    {% include 'cafe/delivery.html' %}
{% endblock %}

{% block jscode %}
    <script src="{% static 'cafe/js/main.js' %}"></script>
    <script src="{% static 'cafe/js/details.js' %}"></script>
{% endblock %}