{% extends 'cafe/base.html' %}
{% load static %}

{% block title %}
    Details
{% endblock %}

{% block promo %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="main-row_delivery">
            <div class="main-row-top">
                <div class="detail_main">
                    <div class="detail_main__picture">
                        <img src="{{ product.picture.url }}" alt="img">
                    </div>
                </div>
                <div class="detail_side">
                    <div class="detail_oder">
                        <div class="detail_card">
                            <div class="detail_name">
                                {{ product.name }}
                            </div>
                            <div class="detail_rating">
                                rating
                            </div>
                            <div class="detail_review">
                                review
                            </div>
                            <div class="detail_price">
                                <div class="detail_price__1">Price</div>
                                <div class="detail_price__2">{{ product.price }} грн</div>
                            </div>
                            <div class="detail_quantity">
                                <div class="detail_quantity__1">Quantity</div>
                                <div class="detail_quantity__2"></div>
                            </div>
                            <div class="detail_total">
                                <div class="detail_total__1">Total</div>
                                <div class="detail_total__2">0 грн</div>
                            </div>
                            <button class="detail_order_btn">to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="detail_main__information">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Description</button>
                    <button class="tablinks" onclick="openCity(event, 'Paris')">Details</button>
                    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Comments</button>
                </div>
                <div id="London" class="tabcontent">
                    <h3 class="detail_main__information_heading">{{ product.name }}</h3>
                    <br>
                    <p>{{ product.description }}</p>
                    <p>Weight {{ product.weight }}</p>
                    <p></p>
                </div>
                <div id="Paris" class="tabcontent">
                    <h3 class="detail_main__information_heading">Details</h3>
                    <div>
                        <br>
                        <p>Calories: 420</p>
                        <p>Fat: 54</p>
                        <p>Protein: 27</p>
                        <p>Carbohydrates: 18</p>
                        <p>Weight: 500 gr</p>
                    </div>
                </div>
                <div id="Tokyo" class="tabcontent">
                    <h3 class="detail_main__information_heading">NO DATA</h3>
                    <br>
                    <p>No data</p>
                </div>
            </div>



    </div>








{% endblock %}

{% block paginator %}
{% endblock %}

{% block video %}
{% endblock %}

{% block delivery %}
    {% include 'cafe/delivery.html' %}
{% endblock %}

{% block jscode %}
    <script src="{% static 'cafe/js/main.js' %}"></script>
    <script src="{% static 'cafe/js/details.js' %}"></script>
{% endblock %}
